<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.votingsystem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/voting"
        android:label="Voting System"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".activity_signin"
            android:exported="false" />
        <!-- Correct theme here -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".Manageusers"
            android:exported="false" />
        <activity
            android:name=".EditData"
            android:exported="false" />
    </application>

</manifest>